html, body {
    background-color: #131516;
    color: rgba(255, 255, 255, 0.8);
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

/*========== Scroll Bar ===========*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-corner {
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
}
    ::-webkit-scrollbar-thumb:hover {
        background: #0e0e10;
    }